<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./styles/head.css">
    <link rel="stylesheet" href="./styles/contacts.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <main class="main">
        <%- include('./partials/title.ejs') %>

        <section class="contacts">
            <ul class="contacts__list">
                <% if(contacts.length) { %>
                    <% contacts.forEach(({name, link}) => { %>
                        <li class="contacts__list-item"><a href="<%= link %>" class="contacts__link"><%= name %></a></li>
                    <% }) %>
                <% } %>
            </ul>
        </section>
    </main>

<%- include('./partials/foot.ejs') %>